*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root {
    --clr-primary : #12CCE5;
    --clr-bg: #F8F8F8;
}
html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

.logo h2 {
    color: black;
    font-size: 3rem;
    font-style: italic;
}
header {
    position: fixed;
    width: 100%;
    z-index: 1;
    transition: .2s all;
    top: 5.5rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav {
    margin: 3rem 3rem;
    display: flex;
    justify-content: space-around;
    width: 90%;
}
nav ul li {
    font-size: 1.6rem;
    margin: 0 3rem 0;
    list-style: none;
}
nav ul {
    display: flex;
    align-items: center;
}
.search-bar {
    align-items: center;
    display: flex;
    align-items: center;
}
.search-bar a {
    font-size: 1.6rem;
    text-decoration: none;
    margin: 0 2rem 0;
    color: black;

}
.search-bar .fas {
    font-size: 2.5rem;
    font-weight: 600;
    color:rgba(0, 0,0, 0.8)
}
.search-bar  .login {
    background-color: var(--clr-primary);
    padding: 1.4rem 2.6rem 1.4rem;
    border-radius: 1rem;
}
.search-bar  .signup {
    background-color: white;
    padding: 1.4rem 2.2rem 1.4rem;
    border-radius: 1rem;
}
.menu-bar {
    display: flex;
    align-items: center;
    display: none;
}
.menu-bar .fas {
    font-size: 2.5rem;
}



/* -- hero section  */



.container-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 98%;
    background-color:var(--clr-bg);
    height: 140vh;
    border-radius: 1.6rem;
    margin: 3rem auto;

}
.content-wrapper {
    margin: -8rem 0 0;
}
.content-wrapper h1{
    /* margin: 0 0 0; */
font-size: 8rem;
}
.content-wrapper h4{
    margin: 4rem 0;
    font-size: 2rem;
    font-weight: 400;
    }
    .content-wrapper input {
        border: none;
        padding: 2rem;
        /* width: 500px; */
        border-radius: 1.4rem;
        
    }
.content-wrapper input::placeholder {
    font-size: 2rem;
    width: 600px;    
}
.content-wrapper input[type="text"]
{
    font-size:2rem;
}
.content-wrapper  input:focus, textarea:focus
{
border: 1px solid #12CCE5;
font-size: 2rem;
outline-offset: 0px;
outline: none;
}
.content-wrapper a {
    margin: 0 1rem;
    padding: 2rem 5rem;
    background-color: var(--clr-primary);
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    border-radius: 1.2rem;
}
.container-1 .hero-img {
   width: 80vw;

   position: absolute;
   bottom: 0;
   transform: translateY(65%);
}
.container-1 .hero-img img{
    width: 100%;
}
@media (max-width:1300px){
    header {
   top: 0;
    }
 
}
@media (max-width:1024px){
    .menu-bar{
        display:inline-flex;
    }
    nav ul {
        display: none;
        text-align: left;
    }
    .search-bar {
        display: none;
    }
    nav {
        margin:0 0;
        justify-content: space-between;
    }
    .content-wrapper h1{
    font-size: 4rem;
    margin: 2rem 0 0;
    }
    .content-wrapper h4{
        margin: 4rem 2rem;
        }
        .input-area {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .input-area a {
            margin: 2rem 0 0;
        }
}

@media (max-width:480px){
    .content-wrapper {
        margin: -2rem 0 0;
    }
}
/* -- section-2 start */
.container-2 {
    width: 100%;
margin: 0 0 20rem;
}
.container-2 .linear {
    width: 98%;
    border-radius: 1.6rem;
    margin: 0 auto;
    height: 60vh;
    background: url(images/hero-gradient.jpg);
    background-position:center;
    background-size:cover;
     background-repeat: no-repeat;
}
.container-2 h4 {
    text-align: center;
    margin: 7rem 0 0;
    font-size: 2rem;
    font-weight: 400;
}
.container-2 .custom-row {
    display: flex;
    justify-content: space-evenly;
    margin: 3rem 0 4rem;
}
@media (max-width:820px){
    .container-2 .custom-row{
    flex-direction: column;
    align-items: center;
}
.container-2 .linear {
 
    height: 30vh;
    margin:-1rem  0 0;
}
.container-2 h4 {
    margin: 4rem 2rem;
}
.container-2 .custom-row img {
    margin: 2rem;
}
}
@media (max-width:520px){
    .container-2 .linear {
 
        height: 30vh;
        margin:-1rem  0 0;
    }

}


/* section-3 start */

.container-3 {
    width: 100%;
    margin: 10rem 0 0;
}
.container-3 .video-row{
    display: flex;
    justify-content: space-between;
    margin: 4rem 3rem 0;
}
.video-col h1{
font-size:7rem;
}
.video-col-2 a {
    padding: 2rem 5rem;
    background-color: var(--clr-primary);
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
    margin: 3rem 0 0;
    font-weight: 700;
    border-radius: 1.2rem;
}
.container-3 .video-col h4{
margin: 4rem 0;
font-size: 2rem;
font-weight: 400;
width: 50%;
}
.back-video {
    border-radius: 1.4rem;
  margin: 4rem 0 0;
  border-bottom: 1px solid white;
}
.video-section {
display: flex;
justify-content: center;
}
@media (max-width:1024px){
    .container-3 .video-row{
     flex-direction: column;
    }   
    .container-3 .video-col h1 {
    font-size: 4rem;
    margin: 1.4rem 0;
    font-weight: 500;
}
.video-section {
    height: auto;
}
.video-col {
    margin: 0 0 2rem;
}
.container-3 .video-col h4{
    margin: 4rem 0;
    width: 100%;
    }
}

/* --- section-4 start */

.container-4 {
    width: 100%;
    margin: 10rem  0 0;
}
.test-row {
    display: flex;
    margin: 3rem 3rem;
    justify-content: space-around;
}
.test-img {
    background: url(images/quote-gradient.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
    border-radius: 1.4rem;
    width: 40%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    padding: 3rem 5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    
}
.test-img .round-2 {
    margin: 3rem  0;
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: left;
}
.test-img .round-2 p {
    width: 300px;
    margin: 0 0.35rem;
    font-weight: 500;
    color: white;
    font-size: 1.2rem;
}
.test-img .round-2 img {
    width: 30px;

    border-radius: 50%;
}
.test-img img {
    width: 100%;
}
.test-img .mobile {
    margin: 10rem 0 0;
}
.test-cont {
    width: 40%;
}
.test-img h2 {
    font-size: 2.5rem;
    color: white;
}
.test-cont  span{
    font-size: 2.2rem;
    line-height: 1.5;
    font-weight: 600;

}
.test-cont h4 {
    font-size: 2.3rem;
    font-weight: 400;
    line-height: 1.5;
}
.test-cont .round {
    margin: 2rem  0;
    display: flex;
    align-items: center;
}
.test-cont .round p {
    margin: 0 0.65rem;
    color: black;
    font-weight: 500;
    font-size: 1.4rem;
}
@media (max-width:1024px){
    .test-row {
     flex-direction: column;
     align-items: center;
    }
    .test-img {
     width: 100%;
     height: auto;
        
    }
    .test-cont {
        margin: 3rem 0 0;
        width: 100%;
    }
}
/* --- section-5 start */

.container-5 {
    margin: 0 auto;
    width: 98%;
    border-radius: 1.3rem;
    padding: 4rem 0 ;
    background-color: var(--clr-bg);
}
.show-row , .drag-row , .row-conn {
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
.show-col-2 , .drag-col , .col-conn-2 {
    width: 40%;
}
.show-col , .drag-col-2 , .col-conn {
    width: 40%;
    
}

.drag-col-2 {
    width:30%;
    margin: 0 4rem 0;
}
.show-col-2 img , .drag-col img , .col-conn-2 img{
    width: 100%;
}
.drag-col img{
width: 100%;
/* margin: 0 3rem; */
}
.show-col h5 {
    color: var(--clr-primary);
    font-size:1.7rem;
}
.show-col h1, .drag-col-2  h1, .col-conn h1 {
    font-size: 5rem;
    margin: 3rem 0 0;
} 
.show-col h4, .drag-col-2  h4, .col-conn h4 {
    font-size: 2.1rem;
    font-weight: 400;
    margin: 2rem 0 0;
    line-height: 1.5;
} 
.drag-col-2 h5 {
    color: red;
    font-size: 1.7rem;
}
.col-conn h5{
    font-size: 1.7rem;
    color: blue;
}
@media (max-width:1024px){
    .show-row , .row-conn {
flex-direction: column;
        align-items: center;
        margin: 3rem 3rem 0;
    }
    .show-col h1 , .drag-col-2 h1 , .col-conn h1{
    /* margin: 1.4rem 0; */
    font-weight: 500;
    }
    .drag-row 
    {
        margin: 3rem 3rem 0;
        flex-direction: column-reverse;
    }
    .show-col , .drag-col-2 , .col-conn {
        width: 100%;
        
    }
}

/* --section-6 start */

.tutorials {
    width: 100%;
}
.row-tutor {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
  .col-tutor-2 , .col-tutor-3{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2rem;
}
.col-tutor-2 img, .col-tutor-3 img{
    border-radius: 2rem;
}
.col-tutor-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.col-tutor-1 .background-image {
    width: 400px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* background-color: var(--clr-bg); */
    height: 230px;
    border-radius: 2rem;
    background: url(images/glide-90-sec.jpg);
    background-position: center;
    background-size: cover;
}
 .col-tutor-2 img, .col-tutor-3 img{
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.text-tutor h2{
font-size: 3rem;
font-weight: 400;
margin: 2rem 0 0;
}
.text-tutor p {
    margin: 1rem 0 0;
    font-size: 1.6rem;
    text-align: center;
}
.section-btn {
    display: flex;
    width: 100%;
}
.section-btn  a{

margin: 6rem auto;
font-size: 2.2rem;
text-decoration: none;
color: black;
padding: 1.3rem 3rem;
background-color: white;
border-radius: 1.5rem;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
@media (max-width:1024px){
    .row-tutor {
flex-direction: column;
align-items: center;
    }
    .col-tutor-2 , .col-tutor-3{
margin: 3rem 0 0;
    }
}

/* --section-8 start */

.rule {
    width: 98%;
    background-color: #202125;
    border-radius: 1.4rem;
    margin: 0 auto;
    padding: 6rem 0 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.rule-text {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem 0;
}
.rule-text h1 {
    font-size: 7rem;
    color: white;
    font-weight: 700;
}
.rule-text a {
    padding: 2rem 5rem;
    background-color: var(--clr-primary);
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
    margin: 3rem 0 0;
    font-weight: 700;
    border-radius: 1.2rem;
}
.rule-row {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 8rem 0;
    justify-content: space-evenly;
}
.col-rule {
    width: 35%;
}
.col-rule-vid {
    width: 60%;
    height: auto;
}
.col-rule-vid video {
    width: 100%;
}
.rule-wrapper {
    display:flex;
    align-items: center;
}
.rule-wrapper:nth-child(2){
    margin: 8rem 0 0;
}
.rule-wrapper:nth-child(3){
    margin: 8rem 0;
}
.rule-wrapper .hading {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4D4D51;
    /* padding: .4rem .8rem; */
    margin: 0 1rem;
    width: 80px;
    color: white;
    height: 80px;
    font-size: 4rem;
} 
.rule-wrapper  h4{
    font-size: 3rem;
    color: white;
    font-weight: 400;
}
.rule-wrapper p {
    margin: 1rem 0 0;
    color: white;
    font-size: 1.6rem;
    line-height: 1.5;
}
.rule-wrapper-2 {
    width: 60%;
    margin: 0 3rem 0;
}
@media (max-width:1024px){
    .rule-row {
      flex-direction: column;
      align-items: center;
    }
    .rule-text h1 {
        font-size: 5rem;
        /* color: white; */
        font-weight: 500;
    }
    /* .rule-wrapper-2 {
        width: 100%;
    }
    .rule-wrapper {
        width: 100%;
    } */
    .col-rule {
        width: 100%;
    }
    .rule-wrapper {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .rule-wrapper-2 {
        margin: 1rem 0 0;
    }
    .col-rule-vid {
        width: 80%;
        margin: 0 0 6rem;
    }
    .rule-text {
     flex-direction: column;
     align-items: center;
     justify-content: center;
     
    }
}

/* --section-9 start */

.template {
    overflow-x: hidden;
    width:100%;
    padding: 5rem 0 0;
}
.temp-row {
    display: flex;
    width: 100%;
    margin: 0 3rem 0;
    /* justify-content: space-between; */
}
.temp-col {
    width: 50%;
}
.temp-col-2 {
    margin: 0  0 0;
    width: 50%;
}
.temp-gellery {
    display: flex;
    flex-direction: row;
    flex-wrap: nowraps;
}
.temp-gellery:nth-child(1){
    margin-left: 20rem;
}
.temp-gellery:nth-child(2){
    /* margin: 0  -7rem 0; */
    margin-left: 10rem;
}
.temp-gellery:nth-child(3){
    /* margin: 0 1rem 0; */
    margin-left: 2rem;
}
.temp-gellery:nth-child(4){
    /* margin: 0 5rem 0; */
/* margin-left: rem */
margin-right: 3rem;
}
.temp-gellery img {
    width: 80px;
    margin: 2.5rem 2rem 0;
    border-radius: 1.6rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.temp-col {
    padding: 3rem 4rem;
}
.temp-col p {
    color: var(--clr-primary);
    font-size: 800;
    margin: 2rem 0;
    font-size: 1.5rem;
}
.temp-col h1 {
    font-size: 5rem;
}
.temp-col   span {
    font-size: 5rem;
    color: var(--clr-primary);
}
.temp-col h4 {
    margin: 5rem 0 7rem;
    font-size: 2rem;
    /* color: white; */
    font-weight: 400;   
}
.temp-col a {
    padding: 1.7rem 3rem;
    background-color: white;
    text-decoration: none;
    font-size: 1.7rem;
    color: black;
    font-weight: 700;
    border-radius: 1.2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media (max-width:1024px){
    .temp-row {
flex-direction: column;
    }
    .temp-col {
        width: 90%;
    }  
    .temp-col-2 {
        width: 100%;
    }
    .temp-gellery:nth-child(1) , .temp-gellery:nth-child(2) , .temp-gellery:nth-child(3) , .temp-gellery:nth-child(4){
        margin-left: 0;
        margin-right: 0;
    }
    .temp-gellery {
    flex-wrap: wrap;
    }
    .temp-col h1 {
        font-size: 5rem;
        font-weight: 500;
    }
    .temp-col {
        padding: 3rem  0;
    }
}

/* --section-10 start */

.container-10 {
    width: 100%;
    height: 150vh;
    overflow-y: hidden;
margin: 4rem 0 0;
padding-top: 6rem;
background-color: var(--clr-primary);
}
.foot-text {
    margin: 3rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foot-text h1 {
    font-size: 7rem;
    text-align: center;
    color: white;
    margin: 0 0 4remx; 
}
.foot-text h4 {
    font-size: 1.7rem;
    color: white;
    margin: 3rem 0 0;
    text-align: center;
}
.foot-text a {
    margin: 6rem  0 0;
    text-align: center;
font-size: 2.2rem;
text-decoration: none;
color: black;
padding: 1.3rem 3rem;
background-color: white;
border-radius: 1.5rem;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.foot-top-row {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.foot-image {
    width: 90%;
}
.foot-image img  {
    width: 100%;

}
@media (max-width:1024px){
    .foot-text h1 {
        text-align: left;
        font-weight: 500;
        font-size: 5rem;

    }
    .foot-text h4 {
        text-align: left;
    }
    .foot-text {
        margin: 3rem 3rem 0;
        /* width: 100%; */
    }
    .foot-image {
        width: 90%;
        margin: 3rem 0 0;

    }
    .container-10 {

        height: auto;
    }
}
/* --footer-section */

.footer  {
    width: 100%;
background-color: #1F2024;
height: auto;
overflow-x: hidden;
padding: 6rem 10em 8rem;
}
.footer-row {
    margin: 4rem 0rem 0 ;
    display: flex;
    justify-content: space-between;
}

.footer .footer-row .col-foot .background-image { 
        width: 400px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        height: 230px;
        border-radius: 2rem;
        background: url(images/glide-90-sec.jpg);
        background-position: center;
        background-size: cover;
    
}

.col-foot h4 {
    color: white;
    font-weight: 400;
    margin: 2rem 0;
    font-size: 2rem;
}
.col-foot-1 , .col-foot-2 , .cool-foot-3 , .col-foot-4 {
    margin: 1rem 0 0;
}
.col-foot-1 p , .col-foot-2 p, .col-foot-3 p , .col-foot-4 p {
    color: grey;
    font-size: 1.7rem;
    font-weight: 600;
    margin: 2rem 0 0;
} 
.col-foot-1 span , .col-foot-2 span, .col-foot-3 span , .col-foot-4 span {
   color: white;
} 
.bottom-foot {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 3rem 0;
}
.bottom-foot ul {
    display: flex;
    margin: 10rem 0 0;
}
.bottom-foot ul li {
    margin: 0 1rem 0;
    list-style: none;
    color: white;
    font-weight: 600;
    font-size: 1.6rem;
}
.bottom-foot .icon {
    display: flex;
    margin: 10rem 0 0;
}
.bottom-foot .icon .fab {
    margin: 1rem 1rem 0;
    font-size: 1.9rem;
    color: white;
}
@media (max-width:1024px){
    .footer-row {
flex-direction: column;
        justify-content: center;
        /* flex-wrap: wrap; */
        align-items: center;
    }
    .col-foot-1 p , .col-foot-2 p, .col-foot-3 p , .col-foot-4 p {
text-align: center;
    } 
    .col-foot-1 span , .col-foot-2 span, .col-foot-3 span , .col-foot-4 span {
        text-align: center;

    } 
    .bottom-foot {
       flex-direction: column;
       align-items: center;
    }
    .bottom-foot .icon {
        display: flex;
        margin: 5rem 0 0;
        align-items: center;
    }
    .foot-image {
        width: 100%;
    }
    .bottom-foot {
        margin: 0 0 0;
    }
}
@media (max-width:720px){
    .bottom-foot ul {
      flex-wrap: wrap;
    }
    .footer .footer-row .col-foot .background-image { 
width: 100%;
}
}