*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr-primary : #12CCE5;
    --clr-bg: #F8F8F8;
}
html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

.logo h2 {
    color: black;
    font-size: 3rem;
    font-style: italic;
}
header {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 5.5rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav {
    margin: 3rem 3rem;
    display: flex;
    justify-content: space-around;
    width: 90%;
}
nav ul li {
    font-size: 1.6rem;
    margin: 0 3rem 0;
    list-style: none;
}
nav ul {
    display: flex;
    align-items: center;
}
.search-bar {
    align-items: center;
    display: flex;
    align-items: center;
}
.search-bar a {
    font-size: 1.6rem;
    text-decoration: none;
    margin: 0 2rem 0;
    color: black;

}
.search-bar .fas {
    font-size: 2.5rem;
    font-weight: 600;
    color:rgba(0, 0,0, 0.8)
}
.search-bar  .login {
    background-color: var(--clr-primary);
    padding: 1.4rem 2.6rem 1.4rem;
    border-radius: 1rem;
}
.container-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 98%;
    background-color:var(--clr-bg);
    height: 120vh;
    border-radius: 1.6rem;
    margin: 2.5rem auto;
}
.content-wrapper h1{
font-size: 8rem;
}
.content-wrapper h4{
    margin: 4rem 0;
    font-size: 2rem;
    font-weight: 400;
    }
    .content-wrapper input {
        border: none;
        padding: 2rem 14rem;
        /* width: 500px; */
        
    }
.content-wrapper input::placeholder {
    font-size: 2rem;
    width: 300px;    
}
.content-wrapper input[type="text"]
{
    font-size:2rem;
}
.content-wrapper  input:focus, textarea:focus
{
border: 1px solid #12CCE5;
font-size: 2rem;
outline-offset: 0px;
outline: none;
}

