*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr-primary : #12CCE5;
    --clr-bg: #F8F8F8;
}
html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

.logo h2 {
    color: black;
    font-size: 3rem;
    font-style: italic;
}
header {
    position: fixed;
    width: 100%;
    z-index: 1;
    transition: .2s all;
    top: 5.5rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav {
    margin: 3rem 3rem;
    display: flex;
    justify-content: space-around;
    width: 90%;
}
nav ul li {
    font-size: 1.6rem;
    margin: 0 3rem 0;
    list-style: none;
}
nav ul {
    display: flex;
    align-items: center;
}
.search-bar {
    align-items: center;
    display: flex;
    align-items: center;
}
.search-bar a {
    font-size: 1.6rem;
    text-decoration: none;
    margin: 0 2rem 0;
    color: black;

}
.search-bar .fas {
    font-size: 2.5rem;
    font-weight: 600;
    color:rgba(0, 0,0, 0.8)
}
.search-bar  .login {
    background-color: var(--clr-primary);
    padding: 1.4rem 2.6rem 1.4rem;
    border-radius: 1rem;
}
.search-bar  .signup {
    background-color: white;
    padding: 1.4rem 2.2rem 1.4rem;
    border-radius: 1rem;
}
.menu-bar {
    display: flex;
    align-items: center;
    display: none;
}
.menu-bar .fas {
    font-size: 2.5rem;
}



/* -- hero section  */



.container-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 98%;
    background-color:var(--clr-bg);
    height: 140vh;
    border-radius: 1.6rem;
    margin: 3rem auto;

}
.content-wrapper {
    margin: -8rem 0 0;
}
.content-wrapper h1{
    /* margin: 0 0 0; */
font-size: 8rem;
}
.content-wrapper h4{
    margin: 4rem 0;
    font-size: 2rem;
    font-weight: 400;
    }
    .content-wrapper input {
        border: none;
        padding: 2rem;
        /* width: 500px; */
        border-radius: 1.4rem;
        
    }
.content-wrapper input::placeholder {
    font-size: 2rem;
    width: 600px;    
}
.content-wrapper input[type="text"]
{
    font-size:2rem;
}
.content-wrapper  input:focus, textarea:focus
{
border: 1px solid #12CCE5;
font-size: 2rem;
outline-offset: 0px;
outline: none;
}
.content-wrapper a {
    margin: 0 1rem;
    padding: 2rem 5rem;
    background-color: var(--clr-primary);
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    border-radius: 1.2rem;
}
.container-1 .hero-img {
   width: 80vw;

   position: absolute;
   bottom: 0;
   transform: translateY(65%);
}
.container-1 .hero-img img{
    width: 100%;
}
@media (max-width:1300px){
    header {
   top: 0;
    }
 
}
@media (max-width:1024px){
    .menu-bar{
        display:inline-flex;
    }
    nav ul {
        display: none;
        text-align: left;
    }
    .search-bar {
        display: none;
    }
    nav {
        margin:0 0;
        justify-content: space-between;
    }
    .content-wrapper h1{
    font-size: 4rem;
    margin: 2rem 0 0;
    }
    .content-wrapper h4{
        margin: 4rem 2rem;
        }
        .input-area {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .input-area a {
            margin: 2rem 0 0;
        }
}

@media (max-width:480px){
    .content-wrapper {
        margin: -2rem 0 0;
    }
}
/* -- section-2 start */
.container-2 {
    width: 100%;

}
.container-2 .linear {
    width: 98%;
    border-radius: 1.6rem;
    margin: 0 auto;
    height: 60vh;
    background: url(images/hero-gradient.jpg);
    background-position:center;
    background-size:cover;
     background-repeat: no-repeat;
}
.container-2 h4 {
    text-align: center;
    margin: 7rem 0 0;
    font-size: 2rem;
    font-weight: 400;
}
.container-2 .custom-row {
    display: flex;
    justify-content: space-evenly;
    margin: 3rem 0 0;
}
@media (max-width:820px){
    .container-2 .custom-row{
    flex-direction: column;
    align-items: center;
}
.container-2 h4 {
    margin: 4rem 2rem;
}
.container-2 .custom-row img {
    margin: 2rem;
}
}